CodeFactory.Gallery.Core/Web/HttpHandlers/gallery.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="featuredProjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="proj">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="label" type="xs:string" />
							<xs:element name="link" type="xs:string" />
							<xs:element name="width" type="xs:int" />
							<xs:element name="height" type="xs:int" />
							<xs:element name="pic" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>